{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/app.css' %}">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
{%block style%}
<style>
div.inline { float:left; }
input[type=text] {
    box-sizing: border-box;
    background-color: blueviolet;
    border-color: black;
    color: black;
    border: 10px;
}
.center{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


    html,body{
	background:#000;
	margin:0;
}
.centered{
	width:400px;
	height:400px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background:#000;
	filter: blur(10px) contrast(20);
}
.blob-1,.blob-2{
	width:70px;
	height:70px;
	position:absolute;
	background:#fff;
	border-radius:50%;
	top:50%;left:50%;
	transform:translate(-50%,-50%);
}
.blob-1{
	left:20%;
	animation:osc-l 2.5s ease infinite;
}
.blob-2{
	left:80%;
	animation:osc-r 2.5s ease infinite;
	background:#0ff;
}
@keyframes osc-l{
	0%{left:20%;}
	50%{left:50%;}
	100%{left:20%;}
}
@keyframes osc-r{
	0%{left:80%;}
	50%{left:50%;}
	100%{left:80%;}
}

</style>
{%endblock%}
{%block content%}
<div id = 'scoreboardMain' class="h1">
    <div class="center"> <h1>Convert Spotify Playlists to .mp3 files</h1></div>
    <div class = 'center' id = 'name' style = "background-color: aliceblue;"><form method = "post">{%csrf_token%}<p></p><input type = 'text' name = "url_name" placeholder="Enter a playlist url" style="width: 100%"><button type="submit" class="" style="width: 100%">Convert</button></form></div> 
    
    

</div>



<br>
<br>
<script>
function myFunction() {
    var x = document.getElementById("scoreboardMain");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>






{%endblock%}